<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- Allow querying launchable apps -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnscrollApplication">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.unscrollapplication.presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.unscrollapplication.presentation.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.UnscrollApplication" />


        <activity
            android:name="com.example.unscrollapplication.presentation.AppSelectionActivity"
            android:exported="false" />

        <activity
            android:name="com.example.unscrollapplication.presentation.FriendsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.unscrollapplication.presentation.LeaderboardActivity"
            android:exported="false" />

        <activity
            android:name="com.example.unscrollapplication.presentation.UsernameSetupActivity"
            android:exported="false" />

        <activity
            android:name="com.example.unscrollapplication.presentation.AlarmSettingsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.unscrollapplication.presentation.FindFriendsActivity"
            android:exported="false" />

        <service
            android:name="com.example.unscrollapplication.application.ScrollTrackingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name="com.example.unscrollapplication.application.AlarmActionReceiver"
            android:exported="false" />

    </application>

</manifest>
